header{
    width: 100%;
    overflow: cover;
    background-color: #303440;
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: center 100px;
    background-attachment:local;
    box-shadow: 1px 1px 10px #000;
	margin-top: 10px;	
}


header:hover{
	background-size:900px;
	transition: 1s, transform 1s;
	transition-delay: 0.1s;
	transition-duration: 1s;
}
/*

header:!hover{
	transition: 1s;
} */
header .Banner{
    width: 200px;
    height: 400px;
	/*Logo abaixo de imediato desnecessario nessa page */
   /* background-image: url(../../Photos/Logos/Logo.jpg);*/
    background-size: hidden;
    background-position: center ;
    background-repeat: no-repeat;
    margin: 0 auto;
    position: relative;
    left: 0;
    right: 0;
    top: 160px;
    object-fit: hidden;
}









