/* ESTILO DO CONTEUDO SECTION DA PAGINA SERVIÇOS */

.servicosCont{
	 width: 100%;
	height: 500px;
    overflow: hidden;
    background-color: #303440;
    margin-top: 0px;
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: center 100px;
    background-attachment:local;
    box-shadow: 1px 1px 10px	 #000;
}
.conteudo{	
	margin: 0 auto;
	margin-top: 0%;
	width: 100%;
	height: 900px;
	background-color: #303440;
	padding-bottom: 1000px;	
	margin-bottom: 1000px;
}
.imgservicos{
width: 600px;
	height: 300px;
	position: absolute;
	margin-left: 60%;
	margin-top: 100px;
	
}
.servicosCont h3{
	font-size: 20px;
	color: lightgray;
	
}
.servicosCont h1{
	color: white;
	list-style-type: none;
	text-align: center;
}
.servicosCont ul{
	
	font-family: sans-serif;
	margin: 0 auto;
	text-align: justify;
}

.servicosCont li{
padding-top: 30px;
}

/* ESTILO DO FORMULARIO */
nav#erro{
	font-family: sans-serif;
	font-style: normal;
	font-size: 12pt;
	color: #303440;
	text-align: center;
	width: 400px;
	height: 100px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 2px 2px 10px lightgray;
	padding: 5px;
	margin: 0 auto;
	position: relative;
}
nav#ok{
	font-family: sans-serif;
	font-style: normal;
	font-size: 12pt;
	color: #303440;
	text-align: center;
	width: 400px;
	height: 100px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 2px 2px 10px lightgray;
	padding: 5px;
	margin: 0 auto;
	padding-bottom: 100px;
}
nav#formulario{
    height:0px;
    /* background-color: darkgray; */
    font-family: "Courier New", sans-serif;
    font-weight: lighter;
    margin-bottom: 90px;
}
#formulario{
    width: 500px;
    margin: 50px auto;
    text-align: center;
    position: relative;
    
}
#formulario h2, #formulario h3{
    font-size: 22px;
    font-family: sans-serif;
    color: #303440;
    width: 100%;
    float: left;
    text-align: left;
    margin-bottom: 4%;
}
#formulario h3{color: #333; font-size:18px; }
#formulario fieldset{
    background: white;
    border: 0 none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius:5px;
    
    box-shadow: 0 0 15px 1px rgba(0,0,0, 0.4);
    padding: 20px 30px;
    
    box-sizing:  border-box;
    width: 80%;
    margin: 0 10%;
    position: absolute;
}
#formulario fieldset:not(:first-of-type){
display:none;    
}
#formulario input , #formulario textarea{
    padding: 10px;
    border:1px solid rgba(38,128,191, 0.9);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    width: 100%;
    font-size: 14px;
    font-family: sans-serif;
    color: black;
    margin-bottom: 10px;
}
#formulario .acao{
    width: 100px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 0;
    float: left;
    margin-right: 5%;
}
#formulario .acao:hover{
    background: #789aff;
	cursor: pointer;
}
#formulario #progress{
    margin-bottom: 30px;
    overflow: hidden;
    counter-reset: step;
}
#formulario #progress li{
    list-style:none;
    color: darkgray;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
    float: left;
    width: 33.33%;
    position: relative;
	text-align: center;
}
#formulario #progress li:before{
    content: counter(step);
    counter-increment: step;
    width: 20px;
    display: block;
    background-color: lightgray;
    color: #333;
    border-radius: 10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    margin:0 auto 10px auto; 
    
}
#formulario #progress li:after{
 content: '';
    width: 100%;
    background: lightgray;
    height: 2px;
    position: absolute;
    top:9px;
    left: -50%;
    z-index: -1;
}
#formulario #progress li:first-child:after{
    content: none;
    
}
#formulario #progress li.ativo:before, #formulario #progress li.ativo:after{
    background: #789aff;
    color: white;
    text-shadow: 0  1px 0;
}