/*abaixo estilo do conteudo principal da pagina quem somos */

.QuemSomosCont{
	 width: 100%;
	height: 500px;
    overflow: hidden;
    background-image:url("../computer-desk-electronics-238118.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
  	opacity: 100%;
    background-attachment:local;
    box-shadow: 1px 1px 10px #000;
}


nav#conteudo{
	margin: 0 auto;
	margin-top: 10%;
	padding:10px;
	width: 500px;
	height:200px;
	background-color:  white;
}
nav#conteudo:hover{
	border-radius: 40px;
	transition: 1s;
	
}
nav#conteudo h3{
	color:  #303440;
	font-size: 18px;
	font-family: sans-serif;
	text-align: justify;
}